
{% extends 'accounts/base.html' %}

{% block content %}

    <h1>Transfer Funds Between Accounts</h1>
    <form method="POST" action="{% url 'transfer_funds' %}">
        {% csrf_token %}
        <label for="from_account">From Account:</label>
        <select name="from_account" id="from_account" required onchange="updateToAccountOptions()">
            <option value="">Select an account</option>
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }} ({{ account.account_number|slice:"0:8" }}...) - {{ account.balance }} $</option>
            {% endfor %}
        </select>
        <br>
        <label for="to_account">To Account:</label>
        <select name="to_account" id="to_account" required>
            <option value="">Select an account</option>
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }} ({{ account.account_number|slice:":8" }}...) - {{ account.balance }} $</option>
            {% endfor %}
        </select>
        <br>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" required>
        <br>
        <button type="submit">Transfer</button>
    </form>

    <script>
        function updateToAccountOptions() {
            const fromAccountSelect = document.getElementById('from_account');
            const toAccountSelect = document.getElementById('to_account');
            const selectedFromAccount = fromAccountSelect.value;

            for (let i = 0; i < toAccountSelect.options.length; i++) {
                const option = toAccountSelect.options[i];
                if (option.value === selectedFromAccount) {
                    option.style.display = 'none';
                    if (toAccountSelect.value === selectedFromAccount) {
                        toAccountSelect.value = ''; // Deselect the option
                    }
                } else {
                    option.style.display = 'block';
                }
            }
        }

        // Initialize the to_account options on page load
        document.addEventListener('DOMContentLoaded', function() {
            updateToAccountOptions();
        });
    </script>

    {% if messages %}
    <ul>
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}


    

   
